* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Orbitron', sans-serif;
}

.section-2 {
  position: relative;
  width: 100vw;      
  height: 776px;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/da9tytxsu/image/upload/v1764098466/bgSection2_zvthvc.png');
  background-size: cover;        
  background-position: center;  
  z-index: -1;       
}

.overlay-text {
  position: absolute;
  top: 464px;
  left: 0;
  width: 1090px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay-text span {
  font-weight: 900;
  font-size: 96px;
  line-height: 162px;
  letter-spacing: -1px;
  color: rgba(255, 255, 255, 1);
}