/*Reset global de los estilos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Fuente para el header*/
@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron/static/Orbitron-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #111; /* para ver la navbar blanca sobre fondo oscuro */
}

/*Barra de navegación*/
/*Todo lo que se ponga aquí afecta al header completo, no a sus elementos internos.*/

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
}

/*Sirve para controlar el contenido interno sin tocar el ancho de la barra. Contiene el logo y los links (Secciones)*/

.navbar .container {
  width: 100%;
  display: flex;
  justify-content: space-between; /* separa logo y links */
  align-items: center;
  padding: 16px 54px; 
}

.logo {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem; 
}

/*Esto es cada cada <li> dentro de la lista de navegación y el position relative es para que los elementos hijos con position absolute (como el .bullet) se posicionen en relación a este <li> y no a todo el documento.*/

.nav-item {
  position: relative;
}

/*Esto es el link dentro de cada nav-item. La "a" es de "anchore" o mejor, de <a>*/

.nav-item a {
  text-decoration: none;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 20.8px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding-left: 24px; 
}

/*Esto esto son los estilos resaltados de los links que estén activos, para que se pongan en bold y con el color primario*/

.nav-item.active a {
  color: #CD7298;
  font-weight: 700;
}

/*La bolita que aparece junto al link activo*/

.nav-item.active .bullet {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #CD7298;
}


